@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainDiv {
  box-sizing: border-box;
}

.mapAndResortDiv {
  width: 100%;
  display: flex;
  box-sizing: inherit;
}

.mapAndResortDiv > div {
  padding-left: 2.5%;
  padding-right: 2.5%
}

.mapColumn {
  box-sizing: inherit;
  width: 80%;
}

.resortRankingColumn {
  box-sizing: inherit;
  word-break: break-all;
  white-space: normal;
  width: 20%;
}

.menuBarDiv {
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid green;
  box-sizing: inherit;
}

.inputFieldDiv {
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid blue;
  box-sizing: inherit;
}

.resultScrollDiv {
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid violet;
  box-sizing: inherit;
}

.righteous {
  font-family: 'Righteous', cursive;
}